{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [stylefy "3.2.0"]
                [kixi/stats "0.5.5"]]
 :dev-http {8080 "public"}
 :builds {:dev {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn plr.core/render!}}
                :devtools {:after-load plr.core/render!}
                :release {:output-dir "public/js"}}}}
